.custom-task-container {
    background: #242320;
    border: 3px solid #A35709;
    border-radius: 10px;
    height: auto;
    width: calc(100% - 5px);
    margin: 7px 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;

    &:hover {
        margin-bottom: 50px;
    }
}

.task-content {
    margin-right: 60px;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 1.5;
    max-width: calc(100% - 100px);
}


.icons-container {
    display: flex;
    position: absolute;
    right: 5px;
    bottom: -56px;
    padding: 5px;
    border-radius: 5px;
}

.action-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
}

.action-button {
    background: transparent;
    border: 3px solid #A35709;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background 0.3s, border-color 0.3s;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    outline: none;

    &:hover {
        background: #A35709;
        color: #FFFFFF;
        border-color: #A35709;
    }

    &:focus {
        border-color: #A35709;
        outline: none;
    }

    &:active {
        border-color: #A35709;
        background: #A35709;
    }

    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
}

.pin-button {
    background-color: #1B1A17;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid #A35709;

}

.delete-button {
    background-color: transparent;
    padding: 5px;
}

.action-icon {
    filter: brightness(0) invert(1);
}

.pinned {
    background-color: #A35709;
}

.pinned:hover {
    background-color: #8a4500;
}